.flex-design{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(123, 89, 172);
  height: 45px;
  width: 700px;
}

.home-grid{
  color: rgb(228, 225, 230);
  font-family: Arial;
  margin-left: 13px;
  font-size: 13px;
  font-weight: bold;
  width: 120px;
  
}

.search-box{
  border: none;
  height: 22px;
  border-radius: 11px;
  flex: 1;
  padding-left: 15px;
  font-size: 11px;
  font-family: Arial;
  color: rgb(75, 40, 129);
  background-color: rgb(247, 245, 249);
}

.download-button{
  height: 28px;
  width: 80px;
  padding-top: 6px;
  padding-left: 12px;
  border-width: 0.04cm;
  border-style: solid;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  border-color: rgb(228, 225, 230);
  margin-right: 6px;
  margin-left: 70px;
  color: rgb(228, 225, 230);
  background-color: rgb(123, 89, 172);
  display: flex;
  
}

